:root {
    --color-background:#FFFFFF;
    --color-background-nav:#EDEDED;
    --color-background-home:#344960;
    --color-text-light:#EDEDED;
    --color-text-title:#FF5555;
    --color-text-dark:#3D3D3D;
    --color-background-buttons:#F0523A;
    --color-background-buttons-yellow: #F7963C;
  }